$color-background: #dbdbb8;
$color-primary: #dbb8db;
$color-raised: #dbcab8;
$color-text: #7676b9;
$color-text-highlight: #414137;
$color-highlight: #b8dbdb;

@import url('https://fonts.googleapis.com/css?family=Contrail+One|Open+Sans');

body {
  margin: 0;
  padding: 10px;
  background-color: $color-background;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: $color-text;
}

a:hover {
  color: $color-text-highlight;
}

li:hover {
  background-color: $color-highlight;
  color: $color-text-highlight;
}

@mixin unlistify {
	list-style: none;

	> li {
		margin: 10px 0;
		padding: 15px 10px;
	}
}

div {
  @include unlistify;
}

#app {
// max-width: 600px;
height: 100vh;
margin: auto;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'Contrail One', cursive;
}

.select-course-container {
  text-align: center;

  button {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: $color-raised;
    border: 1px solid $color-highlight;
    font-size: 1.3em;
    color: $color-text-highlight;
    font-family: 'Contrail One', cursive;
  }
}

#authRegister {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.authTitle {
  margin-bottom: -5px;
  margin-left: 10px;
}

.auth {
  margin: 1px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2px;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.redirect {
  text-decoration: none;
}

.quizInProgress {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-around;
}
