$color-background: #dbdbb8;
$color-primary: #dbb8db;
$color-raised: #dbcab8;
$color-text: #7676b9;
$color-text-highlight: #414137;
$color-highlight: #b8dbdb;

@import url('https://fonts.googleapis.com/css?family=Contrail+One|Open+Sans');

body {
  margin: 0;
  padding: 10px;
  background-color: $color-background;
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: $color-text;
}

a:hover {
  color: $color-text-highlight;
}

li:hover {
  background-color: $color-highlight;
  color: $color-text-highlight;
}

button {
  margin: 10px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: $color-raised;
  border: 1px solid $color-highlight;
  font-size: 1.3em;
  color: $color-text-highlight;
  font-family: 'Contrail One', cursive;
}

@mixin unlistify {
	list-style: none;

	> li {
		// margin: 10px 0;
		padding: 5px;
	}
}

ul {
  @include unlistify;
  margin-top: 30px;
  padding: 0;
  width: 100%;
  text-align: left;
  border: 1px solid black;
}

#app {
// max-width: 600px;
height: 100vh;
margin: auto;
}

.authContainer, .course-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 0;
    text-align: center;
  }
}

h1 {
  text-align: center;
  font-family: 'Contrail One', cursive;
}

// .course-list {
//   text-align: center;
// }

.authFormContainer, .course-list {
  width: 200px;

  h4 {
    text-align: center;
    margin-bottom: 3px;
  }

  .toggleLogin {
    font-size: 1.1em;
    width: 88%;
  }

  .title {
    margin-bottom: 6px;
  }

  #authForm {
    display: flex;
    flex-direction: column;
    width: 100%;

    .auth {
      margin: 3px 0;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid gray;
      font-size: 1em;
      font-family: 'Open Sans', sans-serif;
    }

    .authButton {
      margin: 6px 0;
    }
  }

  p {
    text-align: center;
  }

  .redirect {
    font-weight: bold;
  }
}

.authTitle {
  margin-bottom: -5px;
  margin-left: 10px;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.redirect {
  text-decoration: none;
}
